h1 {
  text-align: center;
  font-size: 100px;
  background: #32CD32;
  color: white;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input{
  display: block;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 4px solid #32CD32;
}

/* .User-Info {
  /* display: flex;
  flex-direction: column; */
  /* width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
    text-align: center; */

.name {
  height: 80px;
  width: 800px;
  color: green;
  font-size: 25px;
  margin-bottom: 40px;
}

.favorite-Animal {
  height: 80px;
  width: 800px;
  color: green;
  font-size: 25px;
  margin-bottom: 40px;
}

.favorite-Color {
  height: 80px;
  width: 800px;
  color: green;
  font-size: 25px;
  margin-bottom: 40px;
}

.favorite-Food {
  height: 80px;
  width: 800px;
  color: green;
  font-size: 25px;
  margin-bottom: 40px;
}

.submit-Button {
  height: 80px;
  width: 320px;
  background: #32CD32;
  color: white;
  font-size: 30px;
  text-align: center;
}

.card-Container {
  padding: 50px;
  height: 250px;
  /* height: 250px;
  width: 1000px; */
  margin-top: 40px;
  background: #32CD32;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 30px;
}
